#titleBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    height: 72px;
    width: 100%;
    background-color:#030c38;
    top: 0;
    left: 0;
    align-items: center;
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.5em;
    color: #64a6f2;
}

#logoSport {
    margin-left: 20px;
}

#logoHome {
    margin-right: 20px;
    font-size: 2.5em;
    color: #64a6f2;
}

#logoHome:hover {
    color: white;
}