#infoPart { 
   position: fixed;
   left: 12em;
}

#choicePart {
    position: fixed;
    top: 15em;
    left: 12em;
    width: 50%;
    height: 80%;
}

#divButton {
    position: fixed;
    top: 43em;
    right: 16em;
}